body {
    /*background-color: rgb(147, 139, 161);*/
    background: rgb(253, 248, 227)
}

.button-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    /* padding-bottom: 10px; */
    margin-bottom: -100px; /* Adjust this value to move the buttons up */
}

.left-aligned {
    padding-left: 50px;

    text-align: left;
    flex: 1;
    padding-right: 10px;
}

.hobbies-bg {
    display: flex;
    position: relative; /* Fix the typo */
    justify-content: flex-start;
    align-items: center;
    margin: 115px auto; /* Center horizontally */
    max-width: 100%; /* Ensure it is responsive */
    width: 1200px; /* Maintain the fixed width */
    height: 1000px;
    background-color: #8b7d71;
}

.img-container {
    position: absolute;
    margin-left: 800px;
    margin-top: -450px;
    margin-right: 250px;
    width: 200px;
    height: 250px;
}
/* 
.images-container {
    display: flex;
    position: relative;
    margin-left: 1000px;
    margin-top: -250px;
    padding-right: 50px;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: right;
    max-width: 1000px;
}*/

.img-container img {
    width: 100%; 
    height: auto;
    margin-bottom: 5px; 
} 

.vids {
    position: relative;
    margin-bottom: 50px;
    margin-right: 800px;
}

#right {
    position: relative;
    margin-left: 140px;
}

#left {
    position: relative;
    margin-bottom: 740px;
    margin-right: 750px;
}

h1 {
    margin:0;
    margin-top: 0px;
    /* padding: 5%; */
    /* border-color: black;
    border-style: solid; */
    font-family:'Times New Roman', Times, serif;
    font-size: 35px;
    color: white;
}

h2 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(222, 216, 216);
    max-width: 600px;
    word-wrap: break-word;
}


.btn {
    width: 270px;
    height: 50px;
    padding-right: 25px;
    padding-left: 25px;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}

.btn:hover{
    background-color: black;
    color: white;
}

.line {
    width: 1200px;
    height: 1px;
    border-bottom: 1px solid black;
    position: absolute;
    margin-top: 50px;
}
