body {
    /*background-color: rgb(147, 139, 161);*/
    background: rgb(253, 248, 227)
}

.button-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    /* padding-bottom: 10px; */
    margin-bottom: -100px; /* Adjust this value to move the buttons up */
}

.left-aligned {
    padding-left: 50px;

    text-align: left;
    flex: 1;
    padding-right: 10px;
}

.hobbies-bg {
    display: flex;
    position: relative; /* Fix the typo */
    justify-content: flex-start;
    align-items: center;
    margin: 115px auto; /* Center horizontally */
    max-width: 100%; /* Ensure it is responsive */
    width: 1200px; /* Maintain the fixed width */
    height: 1000px;
    background-color: #8b7d71;
}

.img-container {
    position: absolute;
    margin-left: 800px;
    margin-top: -450px;
    margin-right: 250px;
    width: 200px;
    height: 250px;
}


.btn:hover{
    background-color: black;
    color: white;
}

.line {
    width: 1200px;
    height: 1px;
    border-bottom: 1px solid black;
    position: absolute;
    margin-top: 50px;
}

.btn {
    width: 270px;
    height: 50px;
    padding-right: 25px;
    padding-left: 25px;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}



.hobby-container {
    width: 80%;
    margin: 150px auto;
}

.hobby {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    margin: 10px 0;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
}

.hobby:hover {
    background-color: #ddd;
}

.content {
    display: none;
    padding: 10px;
    background-color: #fafafa;
}

.content img {
    max-width: 50%;
    height: auto;
    display: block;
    margin-top: 10px;
}
.content video {
    max-width: 50%;
    height: auto;
    display: block;
    margin-top: 10px;
}
