* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', monospace;
    font-size: 25px;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #ffdfba, #ff6f61);
    color: #333;
    line-height: 1.6;
  }

  #home {
    height: 75vh;
  }

  .home-container {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Makes it a circle */
    object-fit: cover; /* Ensures it fills the space */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

  nav {
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    padding: 25px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  .navbar li {
    margin: 0 20px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #ff6f61;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #2c3e50;
    transform: scale(1.1);
  }
  
  /* Section Styles */
  .section {
    padding: 60px 20px;
    text-align: center;
    position: relative;
  }
  
  h1, h2 {
    font-family: 'Courier New', monospace;
    font-size: 75px;
    text-shadow: 2px 2px #ff6f61;
    transition: transform 0.3s ease;
  }
  
  h1:hover, h2:hover {
    transform: rotate(5deg);
  }
  
  /* Container */
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Projects Grid */
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .project-card {
    background: #fff;
    border: 2px solid #ff6f61;
    border-radius: 15px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
  }
  
  .project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }
  
  .project-card:hover:before {
    opacity: 1;
  }
  
  /* Button Styles */
  .btn {
    display: inline-block;
    background: #ff6f61;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: background 0.3s ease;
  }
  
  .btn:hover {
    background: #2c3e50;
  }
  
  /* Modal Styles */
  .modal-content {
    border-radius: 20px;
    overflow: hidden;
    z-index: 9999;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    animation: slide-in 0.5s forwards;
  }
  
  @keyframes slide-in {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  /* Responsive Adjust